<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{pageTitle}}</title>
  </head>
  <body>
    {{> header}}
    <p>Fugiat consequat id nostrud ita legam expetendis et arbitrantur, o minim
      senserit efflorescere se excepteur malis irure incurreret quorum. Quo amet eram
      irure arbitror, do quae veniam nam laboris. Qui quae firmissimum, sed an fugiat
      vidisse e consequat illum ullamco laborum, multos expetendis aut aute quis do
      voluptate fidelissimae do appellat, anim aliquip ab aliqua eram do do tamen
      eiusmod, duis est in illum admodum.Mentitum dolor aliqua doctrina amet. Te illum
      deserunt o fore litteris aut praesentibus, illum laboris deserunt id sed fore
      ipsum te possumus. Se magna ut quid id singulis et noster constias. Iis anim ex
      nisi ita mentitum quis proident mentitum.</p>
    {{> footer}}
  </body>
</html>
